/* #fire {
    color: aqua;
    background-color: brown;
}

.the {
    color: aquamarine;
}

p {
    background-color: aqua;
    color: blanchedalmond;
    /* bottom: red; */
    /* border: red; */
/* }

* {
    margin: 0ex;
    padding: 0cm;
} */ 
/* .red{ */
    /* background-color: rgb(123, 52,63);
    color: white;
}
.temp{
    background-color: rgb(142, 41, 31);
} */
body{
    background: url("moon.png");
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:black;
}